extends layout
block content
    h1(class="title") DONE!
    h2(class="title") You should be able to view your calendar by going to calendar.google.com and inspecting the "My Calendars" tab on the left.
    iframe(src="//giphy.com/embed/3XiQswSmbjBiU",width="480",height="263",frameBorder="0",class="giphy-embed",allowFullScreen)
