extends layout
block content
  h1(class="title") Instructions
  a(href='/new_bu_calendar') Back
  h2(class="title") 1) Go to the Student Link at http://bu.edu/studentlink and click on "Current Schedule"
  img(class="instructions_image" src="/images/link_1.png")
  h2(class="title") 2) Click on "Graph" on the left sidebar
  img(class="instructions_image" src="/images/link_2.png")
  h2(class="title") 3) RIGHT-Click on your graph and select "Image URL". Copy and paste into the first field. It should look something like http://www.bu.edu/uiszl_j2ee/ScheduleImage/ScheduleImageServlet?c1=CAS+EC102+AA&d1=Mon&tb1=1400&te1=1500&db1=20150902&de1=20151209&c2=CAS+EC102+AA&d2=Wed&tb2=1400&te2=1500&db2=20150902&de2=20151209&c3=CAS+EC102+AA&d3=Fri&tb3=1400&te3=1500&db3=20150902&de3=20151209&c4=CAS+EC102+A8&d4=Tue&tb4=1100&te4=1200&db4=20150908&de4=20151208&c5=CAS+LC285+A1&d5=Tue&tb5=1230&te5=1400&db5=20150903&de5=20151210&c6=CAS+LC285+A1&d6=Thu&tb6=1230&te6=1400&db6=20150903&de6=20151210&c7=ENG+EC311+A1&d7=Mon&tb7=1200&te7=1400&db7=20150902&de7=20151209&c8=ENG+EC311+A1&d8=Wed&tb8=1200&te8=1400&db8=20150902&de8=20151209&c9=ENG+EC311+B2&d9=Fri&tb9=1200&te9=1400&db9=20150904&de9=20151204&c10=ENG+EK307+A1&d10=Tue&tb10=1400&te10=1600&db10=20150903&de10=20151210&c11=ENG+EK307+A1&d11=Thu&tb11=1400&te11=1600&db11=20150903&de11=20151210&c12=ENG+EK307+B1&d12=Mon&tb12=1800&te12=2100&db12=20150902&de12=20151210&c13=ENG+EK307+C6&d13=Thu&tb13=1600&te13=1800&db13=20150902&de13=20151210&e=8559354142&height=412&width=631&LastActivityTime=1440645857
  img(class="instructions_image" src="/images/link_3.png")
  h2(class="title") 4) Fill in the name of your new calendar - for example, "Bob's Class Schedule" - and submit.
