doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      function goCalendar() {
        window.location.href = '/google/auth/';
      }

  body
    block content
